<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MSDemo.Properties.Settings.MarathonDemoConnectionString"
            connectionString="Data Source=DESKTOP-CL6V5BF\SQLEXPRESS;Initial Catalog=MarathonDemo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>